[submodule "libhv"]
	path = libhv
	url = https://github.com/ithewei/libhv.git
[submodule "MemTools"]
	path = MemTools
	url = https://github.com/bbgsm/MemTools.git
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
